[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/sprites.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}


.icon-application--exclamation{ background-position: 0 0; width: 16px; height: 16px; } 
.icon-application-block{ background-position: 0 -21px; width: 16px; height: 16px; } 
.icon-application-icon-large{ background-position: 0 -42px; width: 16px; height: 16px; } 
.icon-application-terminal{ background-position: 0 -63px; width: 16px; height: 16px; } 
.icon-arrow-branch-000-left{ background-position: 0 -84px; width: 16px; height: 16px; } 
.icon-arrow-branch-bgr{ background-position: 0 -105px; width: 16px; height: 16px; } 
.icon-arrow-branch-byr{ background-position: 0 -126px; width: 16px; height: 16px; } 
.icon-arrow-branch-gyr{ background-position: 0 -147px; width: 16px; height: 16px; } 
.icon-arrow-in{ background-position: 0 -168px; width: 16px; height: 16px; } 
.icon-arrow-incident-blue{ background-position: 0 -189px; width: 16px; height: 16px; } 
.icon-arrow-incident-green{ background-position: 0 -210px; width: 16px; height: 16px; } 
.icon-arrow-incident-red{ background-position: 0 -231px; width: 16px; height: 16px; } 
.icon-arrow-move{ background-position: 0 -252px; width: 16px; height: 16px; } 
.icon-arrow-split{ background-position: 0 -273px; width: 16px; height: 16px; } 
.icon-arrow-switch{ background-position: 0 -294px; width: 16px; height: 16px; } 
.icon-arrow-transition{ background-position: 0 -315px; width: 16px; height: 16px; } 
.icon-bell{ background-position: 0 -336px; width: 16px; height: 16px; } 
.icon-box-zipper{ background-position: 0 -357px; width: 16px; height: 16px; } 
.icon-building-old{ background-position: 0 -378px; width: 16px; height: 16px; } 
.icon-building-small{ background-position: 0 -399px; width: 16px; height: 16px; } 
.icon-building{ background-position: 0 -420px; width: 16px; height: 16px; } 
.icon-burn{ background-position: 0 -441px; width: 16px; height: 16px; } 
.icon-chain{ background-position: 0 -462px; width: 16px; height: 16px; } 
.icon-chart-up{ background-position: 0 -483px; width: 16px; height: 16px; } 
.icon-circle-black{ background-position: 0 -504px; width: 16px; height: 16px; } 
.icon-circle-blue{ background-position: 0 -525px; width: 16px; height: 16px; } 
.icon-circle-glass{ background-position: 0 -546px; width: 16px; height: 16px; } 
.icon-circle-green{ background-position: 0 -567px; width: 16px; height: 16px; } 
.icon-circle-grey{ background-position: 0 -588px; width: 16px; height: 16px; } 
.icon-circle-metal{ background-position: 0 -609px; width: 16px; height: 16px; } 
.icon-circle-paper{ background-position: 0 -630px; width: 16px; height: 16px; } 
.icon-circle-red{ background-position: 0 -651px; width: 16px; height: 16px; } 
.icon-circle-tan{ background-position: 0 -672px; width: 16px; height: 16px; } 
.icon-circle-teal{ background-position: 0 -693px; width: 16px; height: 16px; } 
.icon-circle-white{ background-position: 0 -714px; width: 16px; height: 16px; } 
.icon-circle-yellow{ background-position: 0 -735px; width: 16px; height: 16px; } 
.icon-clipboard-audit{ background-position: 0 -756px; width: 16px; height: 16px; } 
.icon-clipboard-comment{ background-position: 0 -777px; width: 16px; height: 16px; } 
.icon-clipboard-eye{ background-position: 0 -798px; width: 16px; height: 16px; } 
.icon-clipboard-fingerprint{ background-position: 0 -819px; width: 16px; height: 16px; } 
.icon-clipboard-report-bar{ background-position: 0 -840px; width: 16px; height: 16px; } 
.icon-clipboard-search{ background-position: 0 -861px; width: 16px; height: 16px; } 
.icon-clipboard-warning{ background-position: 0 -882px; width: 16px; height: 16px; } 
.icon-computer{ background-position: 0 -903px; width: 16px; height: 16px; } 
.icon-contrast{ background-position: 0 -924px; width: 16px; height: 16px; } 
.icon-current{ background-position: 0 -945px; width: 16px; height: 16px; } 
.icon-dashboard{ background-position: 0 -966px; width: 16px; height: 16px; } 
.icon-database--exclamation{ background-position: 0 -987px; width: 16px; height: 16px; } 
.icon-database{ background-position: 0 -1008px; width: 16px; height: 16px; } 
.icon-databases{ background-position: 0 -1029px; width: 16px; height: 16px; } 
.icon-door-open-out{ background-position: 0 -1050px; width: 16px; height: 16px; } 
.icon-drive{ background-position: 0 -1071px; width: 16px; height: 16px; } 
.icon-exclamation--frame{ background-position: 0 -1092px; width: 16px; height: 16px; } 
.icon-eye{ background-position: 0 -1113px; width: 16px; height: 16px; } 
.icon-fire-big{ background-position: 0 -1134px; width: 16px; height: 16px; } 
.icon-fire{ background-position: 0 -1155px; width: 16px; height: 16px; } 
.icon-frequency{ background-position: 0 -1176px; width: 16px; height: 16px; } 
.icon-funnel{ background-position: 0 -1197px; width: 16px; height: 16px; } 
.icon-gear{ background-position: 0 -1218px; width: 16px; height: 16px; } 
.icon-geolocation{ background-position: 0 -1239px; width: 16px; height: 16px; } 
.icon-globe-green{ background-position: 0 -1260px; width: 16px; height: 16px; } 
.icon-globe-model{ background-position: 0 -1281px; width: 16px; height: 16px; } 
.icon-globe{ background-position: 0 -1302px; width: 16px; height: 16px; } 
.icon-graphic-card{ background-position: 0 -1323px; width: 16px; height: 16px; } 
.icon-information{ background-position: 0 -1344px; width: 16px; height: 16px; } 
.icon-layer-shape-curve{ background-position: 0 -1365px; width: 16px; height: 16px; } 
.icon-layout-4{ background-position: 0 -1386px; width: 16px; height: 16px; } 
.icon-layout-6{ background-position: 0 -1407px; width: 16px; height: 16px; } 
.icon-lightning{ background-position: 0 -1428px; width: 16px; height: 16px; } 
.icon-magnifier-zoom-actual{ background-position: 0 -1449px; width: 16px; height: 16px; } 
.icon-map{ background-position: 0 -1470px; width: 16px; height: 16px; } 
.icon-memory{ background-position: 0 -1491px; width: 16px; height: 16px; } 
.icon-money-coin{ background-position: 0 -1512px; width: 16px; height: 16px; } 
.icon-network-cloud{ background-position: 0 -1533px; width: 16px; height: 16px; } 
.icon-network-ethernet{ background-position: 0 -1554px; width: 16px; height: 16px; } 
.icon-network-hub{ background-position: 0 -1575px; width: 16px; height: 16px; } 
.icon-network-status-away{ background-position: 0 -1596px; width: 16px; height: 16px; } 
.icon-network-status-busy{ background-position: 0 -1617px; width: 16px; height: 16px; } 
.icon-network-status-offline{ background-position: 0 -1638px; width: 16px; height: 16px; } 
.icon-network-status{ background-position: 0 -1659px; width: 16px; height: 16px; } 
.icon-network-wireless{ background-position: 0 -1680px; width: 16px; height: 16px; } 
.icon-network{ background-position: 0 -1701px; width: 16px; height: 16px; } 
.icon-node-select-all{ background-position: 0 -1722px; width: 16px; height: 16px; } 
.icon-node-select-child{ background-position: 0 -1743px; width: 16px; height: 16px; } 
.icon-node-select{ background-position: 0 -1764px; width: 16px; height: 16px; } 
.icon-node{ background-position: 0 -1785px; width: 16px; height: 16px; } 
.icon-non-widescreen{ background-position: 0 -1806px; width: 24px; height: 24px; } 
.icon-notebook{ background-position: 0 -1835px; width: 16px; height: 16px; } 
.icon-paper-plane{ background-position: 0 -1856px; width: 16px; height: 16px; } 
.icon-plug-connect{ background-position: 0 -1877px; width: 16px; height: 16px; } 
.icon-plug-disconnect{ background-position: 0 -1898px; width: 16px; height: 16px; } 
.icon-plug{ background-position: 0 -1919px; width: 16px; height: 16px; } 
.icon-power{ background-position: 0 -1940px; width: 16px; height: 16px; } 
.icon-printer-color{ background-position: 0 -1961px; width: 16px; height: 16px; } 
.icon-printer-monochrome{ background-position: 0 -1982px; width: 16px; height: 16px; } 
.icon-printer{ background-position: -29px 0; width: 16px; height: 16px; } 
.icon-processor{ background-position: -29px -21px; width: 16px; height: 16px; } 
.icon-question{ background-position: -29px -42px; width: 16px; height: 16px; } 
.icon-report{ background-position: -29px -63px; width: 16px; height: 16px; } 
.icon-server--minus{ background-position: -29px -84px; width: 16px; height: 16px; } 
.icon-server--plus{ background-position: -29px -105px; width: 16px; height: 16px; } 
.icon-server{ background-position: -29px -126px; width: 16px; height: 16px; } 
.icon-servers{ background-position: -29px -147px; width: 16px; height: 16px; } 
.icon-shield{ background-position: -29px -168px; width: 16px; height: 16px; } 
.icon-spectrum{ background-position: -29px -189px; width: 16px; height: 16px; } 
.icon-sql-join-left{ background-position: -29px -210px; width: 16px; height: 16px; } 
.icon-square-black{ background-position: -29px -231px; width: 16px; height: 16px; } 
.icon-square-blue{ background-position: -29px -252px; width: 16px; height: 16px; } 
.icon-square-glass{ background-position: -29px -273px; width: 16px; height: 16px; } 
.icon-square-green{ background-position: -29px -294px; width: 16px; height: 16px; } 
.icon-square-grey{ background-position: -29px -315px; width: 16px; height: 16px; } 
.icon-square-metal{ background-position: -29px -336px; width: 16px; height: 16px; } 
.icon-square-paper{ background-position: -29px -357px; width: 16px; height: 16px; } 
.icon-square-red{ background-position: -29px -378px; width: 16px; height: 16px; } 
.icon-square-tan{ background-position: -29px -399px; width: 16px; height: 16px; } 
.icon-square-teal{ background-position: -29px -420px; width: 16px; height: 16px; } 
.icon-square-white{ background-position: -29px -441px; width: 16px; height: 16px; } 
.icon-square-wood{ background-position: -29px -462px; width: 16px; height: 16px; } 
.icon-square-yellow{ background-position: -29px -483px; width: 16px; height: 16px; } 
.icon-star{ background-position: -29px -504px; width: 16px; height: 16px; } 
.icon-status-away{ background-position: -29px -525px; width: 16px; height: 16px; } 
.icon-status-busy{ background-position: -29px -546px; width: 16px; height: 16px; } 
.icon-status-offline{ background-position: -29px -567px; width: 16px; height: 16px; } 
.icon-status{ background-position: -29px -588px; width: 16px; height: 16px; } 
.icon-system-monitor{ background-position: -29px -609px; width: 16px; height: 16px; } 
.icon-target{ background-position: -29px -630px; width: 16px; height: 16px; } 
.icon-thermometer-high{ background-position: -29px -651px; width: 16px; height: 16px; } 
.icon-time{ background-position: -29px -672px; width: 16px; height: 16px; } 
.icon-transmitter{ background-position: -29px -693px; width: 16px; height: 16px; } 
.icon-user--minus{ background-position: -29px -714px; width: 16px; height: 16px; } 
.icon-user--pencil{ background-position: -29px -735px; width: 16px; height: 16px; } 
.icon-user--plus{ background-position: -29px -756px; width: 16px; height: 16px; } 
.icon-user-detective{ background-position: -29px -777px; width: 16px; height: 16px; } 
.icon-users{ background-position: -29px -798px; width: 16px; height: 16px; } 
.icon-voltage{ background-position: -29px -819px; width: 16px; height: 16px; } 
.icon-wall-brick{ background-position: -29px -840px; width: 16px; height: 16px; } 
.icon-water{ background-position: -29px -861px; width: 16px; height: 16px; } 
.icon-weather-wind{ background-position: -29px -882px; width: 16px; height: 16px; } 
.icon-wi-fi-zone{ background-position: -29px -903px; width: 16px; height: 16px; } 
.icon-widescreen{ background-position: -29px -924px; width: 24px; height: 24px; } 
.icon-wooden-box{ background-position: -29px -953px; width: 16px; height: 16px; } 
.icon-wrench-screwdriver{ background-position: -29px -974px; width: 16px; height: 16px; } 
.icon-wrench{ background-position: -29px -995px; width: 16px; height: 16px; } 
.icon-zones{ background-position: -29px -1016px; width: 16px; height: 16px; } 
