[class^="fugue-"],
[class*=" fugue-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/sprites.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}


.fugue-application--exclamation{ background-position: 0 0; width: 16px; height: 16px; } 
.fugue-application-block{ background-position: 0 -17px; width: 16px; height: 16px; } 
.fugue-application-icon-large{ background-position: 0 -34px; width: 16px; height: 16px; } 
.fugue-application-terminal{ background-position: 0 -51px; width: 16px; height: 16px; } 
.fugue-arrow-branch-000-left{ background-position: 0 -68px; width: 16px; height: 16px; } 
.fugue-arrow-in{ background-position: 0 -85px; width: 16px; height: 16px; } 
.fugue-arrow-move{ background-position: 0 -102px; width: 16px; height: 16px; } 
.fugue-arrow-split{ background-position: 0 -119px; width: 16px; height: 16px; } 
.fugue-bell{ background-position: 0 -136px; width: 16px; height: 16px; } 
.fugue-box-zipper{ background-position: 0 -153px; width: 16px; height: 16px; } 
.fugue-building{ background-position: 0 -170px; width: 16px; height: 16px; } 
.fugue-chart-up{ background-position: 0 -187px; width: 16px; height: 16px; } 
.fugue-contrast{ background-position: 0 -204px; width: 16px; height: 16px; } 
.fugue-database{ background-position: 0 -221px; width: 16px; height: 16px; } 
.fugue-door-open-out{ background-position: 0 -238px; width: 16px; height: 16px; } 
.fugue-drive{ background-position: 0 -255px; width: 16px; height: 16px; } 
.fugue-funnel{ background-position: 0 -272px; width: 16px; height: 16px; } 
.fugue-gear{ background-position: 0 -289px; width: 16px; height: 16px; } 
.fugue-globe-model{ background-position: 0 -306px; width: 16px; height: 16px; } 
.fugue-information{ background-position: 0 -323px; width: 16px; height: 16px; } 
.fugue-layer-shape-curve{ background-position: 0 -340px; width: 16px; height: 16px; } 
.fugue-layout-4{ background-position: 0 -357px; width: 16px; height: 16px; } 
.fugue-layout-6{ background-position: 0 -374px; width: 16px; height: 16px; } 
.fugue-lightning{ background-position: 0 -391px; width: 16px; height: 16px; } 
.fugue-magnifier-zoom-actual{ background-position: 0 -408px; width: 16px; height: 16px; } 
.fugue-map{ background-position: 0 -425px; width: 16px; height: 16px; } 
.fugue-memory{ background-position: 0 -442px; width: 16px; height: 16px; } 
.fugue-money-coin{ background-position: 0 -459px; width: 16px; height: 16px; } 
.fugue-network-cloud{ background-position: 0 -476px; width: 16px; height: 16px; } 
.fugue-network-ethernet{ background-position: 0 -493px; width: 16px; height: 16px; } 
.fugue-network-hub{ background-position: 0 -510px; width: 16px; height: 16px; } 
.fugue-network-status-busy{ background-position: 0 -527px; width: 16px; height: 16px; } 
.fugue-network-status-offline{ background-position: 0 -544px; width: 16px; height: 16px; } 
.fugue-paper-plane{ background-position: 0 -561px; width: 16px; height: 16px; } 
.fugue-plug{ background-position: 0 -578px; width: 16px; height: 16px; } 
.fugue-printer-color{ background-position: 0 -595px; width: 16px; height: 16px; } 
.fugue-processor{ background-position: 0 -612px; width: 16px; height: 16px; } 
.fugue-question{ background-position: 0 -629px; width: 16px; height: 16px; } 
.fugue-server--minus{ background-position: 0 -646px; width: 16px; height: 16px; } 
.fugue-server--plus{ background-position: 0 -663px; width: 16px; height: 16px; } 
.fugue-server{ background-position: 0 -680px; width: 16px; height: 16px; } 
.fugue-servers{ background-position: 0 -697px; width: 16px; height: 16px; } 
.fugue-system-monitor{ background-position: 0 -714px; width: 16px; height: 16px; } 
.fugue-target{ background-position: 0 -731px; width: 16px; height: 16px; } 
.fugue-thermometer-high{ background-position: 0 -748px; width: 16px; height: 16px; } 
.fugue-user--minus{ background-position: 0 -765px; width: 16px; height: 16px; } 
.fugue-user--pencil{ background-position: 0 -782px; width: 16px; height: 16px; } 
.fugue-user--plus{ background-position: 0 -799px; width: 16px; height: 16px; } 
.fugue-user-detective{ background-position: 0 -816px; width: 16px; height: 16px; } 
.fugue-users{ background-position: 0 -833px; width: 16px; height: 16px; } 
.fugue-wall-brick{ background-position: 0 -850px; width: 16px; height: 16px; } 
.fugue-water{ background-position: 0 -867px; width: 16px; height: 16px; } 
.fugue-weather-wind{ background-position: 0 -884px; width: 16px; height: 16px; } 
.fugue-wi-fi-zone{ background-position: 0 -901px; width: 16px; height: 16px; } 
.fugue-wooden-box{ background-position: 0 -918px; width: 16px; height: 16px; } 
.fugue-wrench-screwdriver{ background-position: 0 -935px; width: 16px; height: 16px; } 
.fugue-wrench{ background-position: 0 -952px; width: 16px; height: 16px; } 
