[class^="oicon-"],
[class*=" oicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/sprites.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}


.oicon-application-terminal{ background-position: 0 -63px; width: 16px; height: 16px; } 
.oicon-arrow-branch-000-left{ background-position: 0 -84px; width: 16px; height: 16px; } 
.oicon-arrow-branch-bgr{ background-position: 0 -105px; width: 16px; height: 16px; } 
.oicon-arrow-branch-byr{ background-position: 0 -126px; width: 16px; height: 16px; } 
.oicon-arrow-branch-gyr{ background-position: 0 -147px; width: 16px; height: 16px; } 
.oicon-arrow-in{ background-position: 0 -168px; width: 16px; height: 16px; } 
.oicon-arrow-incident-blue{ background-position: 0 -189px; width: 16px; height: 16px; } 
.oicon-arrow-incident-green{ background-position: 0 -210px; width: 16px; height: 16px; } 
.oicon-arrow-incident-red{ background-position: 0 -231px; width: 16px; height: 16px; } 
.oicon-arrow-join{ background-position: 0 -252px; width: 16px; height: 16px; } 
.oicon-arrow-merge{ background-position: 0 -273px; width: 16px; height: 16px; } 
.oicon-arrow-move{ background-position: 0 -294px; width: 16px; height: 16px; } 
.oicon-arrow-split{ background-position: 0 -315px; width: 16px; height: 16px; } 
.oicon-arrow-switch{ background-position: 0 -336px; width: 16px; height: 16px; } 
.oicon-arrow-transition{ background-position: 0 -357px; width: 16px; height: 16px; } 
.oicon-asterisk-yellow{ background-position: 0 -378px; width: 16px; height: 16px; } 
.oicon-asterisk{ background-position: 0 -399px; width: 16px; height: 16px; } 
.oicon-badge-circle-cross{ background-position: 0 -420px; width: 16px; height: 16px; } 
.oicon-badge-circle-minus{ background-position: 0 -441px; width: 16px; height: 16px; } 
.oicon-badge-circle-plus{ background-position: 0 -462px; width: 16px; height: 16px; } 
.oicon-badge-square-check{ background-position: 0 -483px; width: 16px; height: 16px; } 
.oicon-badge-square-cross{ background-position: 0 -504px; width: 16px; height: 16px; } 
.oicon-badge-square-minus{ background-position: 0 -525px; width: 16px; height: 16px; } 
.oicon-badge-square-plus{ background-position: 0 -546px; width: 16px; height: 16px; } 
.oicon-bell{ background-position: 0 -567px; width: 16px; height: 16px; } 
.oicon-box-zipper{ background-position: 0 -588px; width: 16px; height: 16px; } 
.oicon-building-hedge{ background-position: 0 -609px; width: 16px; height: 16px; } 
.oicon-building-old{ background-position: 0 -630px; width: 16px; height: 16px; } 
.oicon-building-small{ background-position: 0 -651px; width: 16px; height: 16px; } 
.oicon-building{ background-position: 0 -672px; width: 16px; height: 16px; } 
.oicon-burn{ background-position: 0 -693px; width: 16px; height: 16px; } 
.oicon-categories{ background-position: 0 -714px; width: 16px; height: 16px; } 
.oicon-category{ background-position: 0 -735px; width: 16px; height: 16px; } 
.oicon-chain--exclamation{ background-position: 0 -756px; width: 16px; height: 16px; } 
.oicon-chain{ background-position: 0 -777px; width: 16px; height: 16px; } 
.oicon-chart-down-color{ background-position: 0 -798px; width: 16px; height: 16px; } 
.oicon-chart-down{ background-position: 0 -819px; width: 16px; height: 16px; } 
.oicon-chart-pie-separate{ background-position: 0 -840px; width: 16px; height: 16px; } 
.oicon-chart-pie{ background-position: 0 -861px; width: 16px; height: 16px; } 
.oicon-chart-up-color{ background-position: 0 -882px; width: 16px; height: 16px; } 
.oicon-chart-up{ background-position: 0 -903px; width: 16px; height: 16px; } 
.oicon-chart{ background-position: 0 -924px; width: 16px; height: 16px; } 
.oicon-check{ background-position: 0 -945px; width: 16px; height: 16px; } 
.oicon-circle-black{ background-position: 0 -966px; width: 16px; height: 16px; } 
.oicon-circle-blue{ background-position: 0 -987px; width: 16px; height: 16px; } 
.oicon-circle-glass{ background-position: 0 -1008px; width: 16px; height: 16px; } 
.oicon-circle-green{ background-position: 0 -1029px; width: 16px; height: 16px; } 
.oicon-circle-grey{ background-position: 0 -1050px; width: 16px; height: 16px; } 
.oicon-circle-metal{ background-position: 0 -1071px; width: 16px; height: 16px; } 
.oicon-circle-paper{ background-position: 0 -1092px; width: 16px; height: 16px; } 
.oicon-circle-red{ background-position: 0 -1113px; width: 16px; height: 16px; } 
.oicon-circle-tan{ background-position: 0 -1134px; width: 16px; height: 16px; } 
.oicon-circle-teal{ background-position: 0 -1155px; width: 16px; height: 16px; } 
.oicon-circle-white{ background-position: 0 -1176px; width: 16px; height: 16px; } 
.oicon-circle-yellow{ background-position: 0 -1197px; width: 16px; height: 16px; } 
.oicon-clipboard-audit{ background-position: 0 -1218px; width: 16px; height: 16px; } 
.oicon-clipboard-comment{ background-position: 0 -1239px; width: 16px; height: 16px; } 
.oicon-clipboard-eye{ background-position: 0 -1260px; width: 16px; height: 16px; } 
.oicon-clipboard-fingerprint{ background-position: 0 -1281px; width: 16px; height: 16px; } 
.oicon-clipboard-report-bar{ background-position: 0 -1302px; width: 16px; height: 16px; } 
.oicon-clipboard-search{ background-position: 0 -1323px; width: 16px; height: 16px; } 
.oicon-clipboard-warning{ background-position: 0 -1344px; width: 16px; height: 16px; } 
.oicon-computer{ background-position: 0 -1365px; width: 16px; height: 16px; } 
.oicon-contrast{ background-position: 0 -1386px; width: 16px; height: 16px; } 
.oicon-cross-button{ background-position: 0 -1407px; width: 16px; height: 16px; } 
.oicon-cross-circle-frame{ background-position: 0 -1428px; width: 16px; height: 16px; } 
.oicon-cross-circle{ background-position: 0 -1449px; width: 16px; height: 16px; } 
.oicon-current{ background-position: 0 -1470px; width: 16px; height: 16px; } 
.oicon-dashboard{ background-position: 0 -1491px; width: 16px; height: 16px; } 
.oicon-database--exclamation{ background-position: 0 -1512px; width: 16px; height: 16px; } 
.oicon-database{ background-position: 0 -1533px; width: 16px; height: 16px; } 
.oicon-databases{ background-position: 0 -1554px; width: 16px; height: 16px; } 
.oicon-door-open-out{ background-position: 0 -1575px; width: 16px; height: 16px; } 
.oicon-drive{ background-position: 0 -1596px; width: 16px; height: 16px; } 
.oicon-exclamation--frame{ background-position: 0 -1617px; width: 16px; height: 16px; } 
.oicon-exclamation-button{ background-position: 0 -1638px; width: 16px; height: 16px; } 
.oicon-eye{ background-position: 0 -1659px; width: 16px; height: 16px; } 
.oicon-fire-big{ background-position: 0 -1680px; width: 16px; height: 16px; } 
.oicon-fire{ background-position: 0 -1701px; width: 16px; height: 16px; } 
.oicon-frequency{ background-position: 0 -1722px; width: 16px; height: 16px; } 
.oicon-funnel{ background-position: 0 -1743px; width: 16px; height: 16px; } 
.oicon-gear{ background-position: 0 -1764px; width: 16px; height: 16px; } 
.oicon-geolocation{ background-position: 0 -1785px; width: 16px; height: 16px; } 
.oicon-globe-green{ background-position: 0 -1806px; width: 16px; height: 16px; } 
.oicon-globe-model{ background-position: 0 -1827px; width: 16px; height: 16px; } 
.oicon-globe{ background-position: 0 -1848px; width: 16px; height: 16px; } 
.oicon-graphic-card{ background-position: 0 -1869px; width: 16px; height: 16px; } 
.oicon-information-button{ background-position: 0 -1890px; width: 16px; height: 16px; } 
.oicon-information{ background-position: 0 -1911px; width: 16px; height: 16px; } 
.oicon-layer-shape-curve{ background-position: 0 -1932px; width: 16px; height: 16px; } 
.oicon-layout-4{ background-position: 0 -1953px; width: 16px; height: 16px; } 
.oicon-layout-6{ background-position: 0 -1974px; width: 16px; height: 16px; } 
.oicon-light-bulb-off{ background-position: -21px 0; width: 16px; height: 16px; } 
.oicon-light-bulb{ background-position: -21px -21px; width: 16px; height: 16px; } 
.oicon-lightning{ background-position: -21px -42px; width: 16px; height: 16px; } 
.oicon-magnifier-zoom-actual{ background-position: -21px -63px; width: 16px; height: 16px; } 
.oicon-mail{ background-position: -21px -84px; width: 16px; height: 16px; } 
.oicon-mails-stack{ background-position: -21px -105px; width: 16px; height: 16px; } 
.oicon-mails{ background-position: -21px -126px; width: 16px; height: 16px; } 
.oicon-map{ background-position: -21px -147px; width: 16px; height: 16px; } 
.oicon-memory{ background-position: -21px -168px; width: 16px; height: 16px; } 
.oicon-minus-button{ background-position: -21px -189px; width: 16px; height: 16px; } 
.oicon-minus-circle-frame{ background-position: -21px -210px; width: 16px; height: 16px; } 
.oicon-minus-circle{ background-position: -21px -231px; width: 16px; height: 16px; } 
.oicon-money-coin{ background-position: -21px -252px; width: 16px; height: 16px; } 
.oicon-network-cloud{ background-position: -21px -273px; width: 16px; height: 16px; } 
.oicon-network-ethernet{ background-position: -21px -294px; width: 16px; height: 16px; } 
.oicon-network-hub{ background-position: -21px -315px; width: 16px; height: 16px; } 
.oicon-network-status-away{ background-position: -21px -336px; width: 16px; height: 16px; } 
.oicon-network-status-busy{ background-position: -21px -357px; width: 16px; height: 16px; } 
.oicon-network-status-offline{ background-position: -21px -378px; width: 16px; height: 16px; } 
.oicon-network-status{ background-position: -21px -399px; width: 16px; height: 16px; } 
.oicon-network-wireless{ background-position: -21px -420px; width: 16px; height: 16px; } 
.oicon-network{ background-position: -21px -441px; width: 16px; height: 16px; } 
.oicon-node-select-all{ background-position: -21px -462px; width: 16px; height: 16px; } 
.oicon-node-select-child{ background-position: -21px -483px; width: 16px; height: 16px; } 
.oicon-node-select{ background-position: -21px -504px; width: 16px; height: 16px; } 
.oicon-node{ background-position: -21px -525px; width: 16px; height: 16px; } 
.oicon-non-widescreen{ background-position: -21px -546px; width: 24px; height: 24px; } 
.oicon-notebook{ background-position: -21px -575px; width: 16px; height: 16px; } 
.oicon-paper-plane{ background-position: -21px -596px; width: 16px; height: 16px; } 
.oicon-plug--exclamation{ background-position: -21px -617px; width: 16px; height: 16px; } 
.oicon-plug-connect{ background-position: -21px -638px; width: 16px; height: 16px; } 
.oicon-plug-disconnect{ background-position: -21px -659px; width: 16px; height: 16px; } 
.oicon-plug{ background-position: -21px -680px; width: 16px; height: 16px; } 
.oicon-plus-button{ background-position: -21px -701px; width: 16px; height: 16px; } 
.oicon-plus-circle-frame{ background-position: -21px -722px; width: 16px; height: 16px; } 
.oicon-plus-circle{ background-position: -21px -743px; width: 16px; height: 16px; } 
.oicon-plus{ background-position: -21px -764px; width: 16px; height: 16px; } 
.oicon-power{ background-position: -21px -785px; width: 16px; height: 16px; } 
.oicon-printer-color{ background-position: -21px -806px; width: 16px; height: 16px; } 
.oicon-printer-monochrome{ background-position: -21px -827px; width: 16px; height: 16px; } 
.oicon-printer{ background-position: -21px -848px; width: 16px; height: 16px; } 
.oicon-processor{ background-position: -21px -869px; width: 16px; height: 16px; } 
.oicon-question-button{ background-position: -21px -890px; width: 16px; height: 16px; } 
.oicon-question{ background-position: -21px -911px; width: 16px; height: 16px; } 
.oicon-report{ background-position: -21px -932px; width: 16px; height: 16px; } 
.oicon-server--minus{ background-position: -21px -953px; width: 16px; height: 16px; } 
.oicon-server--plus{ background-position: -21px -974px; width: 16px; height: 16px; } 
.oicon-server{ background-position: -21px -995px; width: 16px; height: 16px; } 
.oicon-servers{ background-position: -21px -1016px; width: 16px; height: 16px; } 
.oicon-shield-blue-broken{ background-position: -21px -1037px; width: 16px; height: 16px; } 
.oicon-shield{ background-position: -21px -1058px; width: 16px; height: 16px; } 
.oicon-slash-button{ background-position: -21px -1079px; width: 16px; height: 16px; } 
.oicon-spectrum{ background-position: -21px -1100px; width: 16px; height: 16px; } 
.oicon-sql-join-left{ background-position: -21px -1121px; width: 16px; height: 16px; } 
.oicon-square-black{ background-position: -21px -1142px; width: 16px; height: 16px; } 
.oicon-square-blue{ background-position: -21px -1163px; width: 16px; height: 16px; } 
.oicon-square-glass{ background-position: -21px -1184px; width: 16px; height: 16px; } 
.oicon-square-green{ background-position: -21px -1205px; width: 16px; height: 16px; } 
.oicon-square-grey{ background-position: -21px -1226px; width: 16px; height: 16px; } 
.oicon-square-metal{ background-position: -21px -1247px; width: 16px; height: 16px; } 
.oicon-square-paper{ background-position: -21px -1268px; width: 16px; height: 16px; } 
.oicon-square-red{ background-position: -21px -1289px; width: 16px; height: 16px; } 
.oicon-square-tan{ background-position: -21px -1310px; width: 16px; height: 16px; } 
.oicon-square-teal{ background-position: -21px -1331px; width: 16px; height: 16px; } 
.oicon-square-white{ background-position: -21px -1352px; width: 16px; height: 16px; } 
.oicon-square-wood{ background-position: -21px -1373px; width: 16px; height: 16px; } 
.oicon-square-yellow{ background-position: -21px -1394px; width: 16px; height: 16px; } 
.oicon-star{ background-position: -21px -1415px; width: 16px; height: 16px; } 
.oicon-status-away{ background-position: -21px -1436px; width: 16px; height: 16px; } 
.oicon-status-busy{ background-position: -21px -1457px; width: 16px; height: 16px; } 
.oicon-status-offline{ background-position: -21px -1478px; width: 16px; height: 16px; } 
.oicon-status{ background-position: -21px -1499px; width: 16px; height: 16px; } 
.oicon-system-monitor{ background-position: -21px -1520px; width: 16px; height: 16px; } 
.oicon-target{ background-position: -21px -1541px; width: 16px; height: 16px; } 
.oicon-telephone{ background-position: -21px -1562px; width: 16px; height: 16px; } 
.oicon-thermometer-high{ background-position: -21px -1583px; width: 16px; height: 16px; } 
.oicon-tick-button{ background-position: -21px -1604px; width: 16px; height: 16px; } 
.oicon-tick-circle-frame{ background-position: -21px -1625px; width: 16px; height: 16px; } 
.oicon-tick-circle{ background-position: -21px -1646px; width: 16px; height: 16px; } 
.oicon-time{ background-position: -21px -1667px; width: 16px; height: 16px; } 
.oicon-traffic-light{ background-position: -21px -1688px; width: 16px; height: 16px; } 
.oicon-transmitter{ background-position: -21px -1709px; width: 16px; height: 16px; } 
.oicon-user--minus{ background-position: -21px -1730px; width: 16px; height: 16px; } 
.oicon-user--pencil{ background-position: -21px -1751px; width: 16px; height: 16px; } 
.oicon-user--plus{ background-position: -21px -1772px; width: 16px; height: 16px; } 
.oicon-user-detective{ background-position: -21px -1793px; width: 16px; height: 16px; } 
.oicon-users{ background-position: -21px -1814px; width: 16px; height: 16px; } 
.oicon-voltage{ background-position: -21px -1835px; width: 16px; height: 16px; } 
.oicon-wall-brick{ background-position: -21px -1856px; width: 16px; height: 16px; } 
.oicon-warning{ background-position: -21px -1877px; width: 16px; height: 16px; } 
.oicon-water{ background-position: -21px -1898px; width: 16px; height: 16px; } 
.oicon-weather-wind{ background-position: -21px -1919px; width: 16px; height: 16px; } 
.oicon-wi-fi-zone{ background-position: -21px -1940px; width: 16px; height: 16px; } 
.oicon-widescreen{ background-position: -21px -1961px; width: 24px; height: 24px; } 
.oicon-wooden-box{ background-position: -21px -1990px; width: 16px; height: 16px; } 
.oicon-wrench-screwdriver{ background-position: -50px 0; width: 16px; height: 16px; } 
.oicon-wrench{ background-position: -50px -21px; width: 16px; height: 16px; } 
.oicon-zones{ background-position: -50px -42px; width: 16px; height: 16px; } 
