[class^="sweetie-"],
[class*=" sweetie-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/sweetie.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

.filter-grey {
 filter: grayscale(100%);
 -webkit-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -ms-filter: grayscale(100%);
 -o-filter: grayscale(100%);
}


.sweetie-arrow-branch-bgr{ background-position: 0 0; width: 16px; height: 16px; } 
.sweetie-arrow-branch-byr{ background-position: -21px 0; width: 16px; height: 16px; } 
.sweetie-arrow-branch-gyr{ background-position: -42px 0; width: 16px; height: 16px; } 
.sweetie-arrow-down{ background-position: -63px 0; width: 16px; height: 16px; } 
.sweetie-arrow-incident-blue{ background-position: -84px 0; width: 16px; height: 16px; } 
.sweetie-arrow-incident-green{ background-position: -105px 0; width: 16px; height: 16px; } 
.sweetie-arrow-incident-red{ background-position: -126px 0; width: 16px; height: 16px; } 
.sweetie-arrow-left{ background-position: -147px 0; width: 16px; height: 16px; } 
.sweetie-arrow-right{ background-position: -168px 0; width: 16px; height: 16px; } 
.sweetie-arrow-up{ background-position: -189px 0; width: 16px; height: 16px; } 
.sweetie-asset-black{ background-position: -210px 0; width: 16px; height: 16px; } 
.sweetie-asset-blue{ background-position: -231px 0; width: 16px; height: 16px; } 
.sweetie-asset-green{ background-position: -252px 0; width: 16px; height: 16px; } 
.sweetie-asset-grey{ background-position: -273px 0; width: 16px; height: 16px; } 
.sweetie-asset-red{ background-position: -294px 0; width: 16px; height: 16px; } 
.sweetie-asset-tan{ background-position: -315px 0; width: 16px; height: 16px; } 
.sweetie-asset-teal{ background-position: -336px 0; width: 16px; height: 16px; } 
.sweetie-asset-white{ background-position: -357px 0; width: 16px; height: 16px; } 
.sweetie-asset-yellow{ background-position: -378px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-check{ background-position: -399px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-cross{ background-position: -420px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-direction-down{ background-position: -441px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-direction-left{ background-position: -462px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-direction-right{ background-position: -483px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-direction-up{ background-position: -504px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-minus{ background-position: -525px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-plus{ background-position: -546px 0; width: 16px; height: 16px; } 
.sweetie-badge-circle-power{ background-position: -567px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-check{ background-position: -588px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-cross{ background-position: -609px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-direction-down{ background-position: -630px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-direction-left{ background-position: -651px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-direction-right{ background-position: -672px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-direction-up{ background-position: -693px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-minus{ background-position: -714px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-plus{ background-position: -735px 0; width: 16px; height: 16px; } 
.sweetie-badge-square-power{ background-position: -756px 0; width: 16px; height: 16px; } 
.sweetie-check{ background-position: -777px 0; width: 16px; height: 16px; } 
.sweetie-circle-black{ background-position: -798px 0; width: 16px; height: 16px; } 
.sweetie-circle-blue{ background-position: -819px 0; width: 16px; height: 16px; } 
.sweetie-circle-glass{ background-position: -840px 0; width: 16px; height: 16px; } 
.sweetie-circle-green{ background-position: -861px 0; width: 16px; height: 16px; } 
.sweetie-circle-grey{ background-position: -882px 0; width: 16px; height: 16px; } 
.sweetie-circle-metal{ background-position: -903px 0; width: 16px; height: 16px; } 
.sweetie-circle-paper{ background-position: -924px 0; width: 16px; height: 16px; } 
.sweetie-circle-red{ background-position: -945px 0; width: 16px; height: 16px; } 
.sweetie-circle-tan{ background-position: -966px 0; width: 16px; height: 16px; } 
.sweetie-circle-teal{ background-position: -987px 0; width: 16px; height: 16px; } 
.sweetie-circle-white{ background-position: -1008px 0; width: 16px; height: 16px; } 
.sweetie-circle-wood{ background-position: -1029px 0; width: 16px; height: 16px; } 
.sweetie-circle-yellow{ background-position: -1050px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-audit{ background-position: -1071px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-comment{ background-position: -1092px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-eye{ background-position: -1113px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-fingerprint{ background-position: -1134px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-report-bar{ background-position: -1155px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-search{ background-position: -1176px 0; width: 16px; height: 16px; } 
.sweetie-clipboard-warning{ background-position: -1197px 0; width: 16px; height: 16px; } 
.sweetie-comment{ background-position: -1218px 0; width: 16px; height: 16px; } 
.sweetie-comment-chat{ background-position: -1239px 0; width: 16px; height: 16px; } 
.sweetie-comment-inactive{ background-position: -1260px 0; width: 16px; height: 16px; } 
.sweetie-cross{ background-position: -1281px 0; width: 16px; height: 16px; } 
.sweetie-dice-red{ background-position: -1302px 0; width: 16px; height: 16px; } 
.sweetie-dice-white{ background-position: -1323px 0; width: 16px; height: 16px; } 
.sweetie-email{ background-position: -1344px 0; width: 16px; height: 16px; } 
.sweetie-email-minus{ background-position: -1365px 0; width: 16px; height: 16px; } 
.sweetie-email-plus{ background-position: -1386px 0; width: 16px; height: 16px; } 
.sweetie-heart{ background-position: -1407px 0; width: 16px; height: 16px; } 
.sweetie-lightening{ background-position: -1428px 0; width: 16px; height: 16px; } 
.sweetie-minus{ background-position: -1449px 0; width: 16px; height: 16px; } 
.sweetie-note{ background-position: -1470px 0; width: 16px; height: 16px; } 
.sweetie-note-star{ background-position: -1491px 0; width: 16px; height: 16px; } 
.sweetie-note-todo{ background-position: -1512px 0; width: 16px; height: 16px; } 
.sweetie-note-todo-list{ background-position: -1533px 0; width: 16px; height: 16px; } 
.sweetie-page{ background-position: -1554px 0; width: 16px; height: 16px; } 
.sweetie-page-forum{ background-position: -1575px 0; width: 16px; height: 16px; } 
.sweetie-page-pencil{ background-position: -1596px 0; width: 16px; height: 16px; } 
.sweetie-page-star{ background-position: -1617px 0; width: 16px; height: 16px; } 
.sweetie-paper-arrow-blue{ background-position: -1638px 0; width: 16px; height: 16px; } 
.sweetie-paper-arrow-green{ background-position: -1659px 0; width: 16px; height: 16px; } 
.sweetie-paper-arrow-red{ background-position: -1680px 0; width: 16px; height: 16px; } 
.sweetie-paper-arrow-teal{ background-position: -1701px 0; width: 16px; height: 16px; } 
.sweetie-paper-arrow-yellow{ background-position: -1722px 0; width: 16px; height: 16px; } 
.sweetie-paper-calculate-percent{ background-position: -1743px 0; width: 16px; height: 16px; } 
.sweetie-paper-control{ background-position: -1764px 0; width: 16px; height: 16px; } 
.sweetie-paper-excerpt-blue{ background-position: -1785px 0; width: 16px; height: 16px; } 
.sweetie-paper-excerpt-green{ background-position: -1806px 0; width: 16px; height: 16px; } 
.sweetie-paper-excerpt-red{ background-position: -1827px 0; width: 16px; height: 16px; } 
.sweetie-paper-excerpt-teal{ background-position: -1848px 0; width: 16px; height: 16px; } 
.sweetie-paper-excerpt-yellow{ background-position: -1869px 0; width: 16px; height: 16px; } 
.sweetie-paper-gavel{ background-position: -1890px 0; width: 16px; height: 16px; } 
.sweetie-paper-workplan{ background-position: -1911px 0; width: 16px; height: 16px; } 
.sweetie-pencil{ background-position: -1932px 0; width: 16px; height: 16px; } 
.sweetie-person{ background-position: -1953px 0; width: 16px; height: 16px; } 
.sweetie-person-heart{ background-position: -1974px 0; width: 16px; height: 16px; } 
.sweetie-person-minus{ background-position: 0 -21px; width: 16px; height: 16px; } 
.sweetie-person-plus{ background-position: -21px -21px; width: 16px; height: 16px; } 
.sweetie-person-profile{ background-position: -42px -21px; width: 16px; height: 16px; } 
.sweetie-plus{ background-position: -63px -21px; width: 16px; height: 16px; } 
.sweetie-search{ background-position: -84px -21px; width: 16px; height: 16px; } 
.sweetie-settings{ background-position: -105px -21px; width: 16px; height: 16px; } 
.sweetie-shield-blue-broken{ background-position: -126px -21px; width: 16px; height: 16px; } 
.sweetie-square-black{ background-position: -147px -21px; width: 16px; height: 16px; } 
.sweetie-square-blue{ background-position: -168px -21px; width: 16px; height: 16px; } 
.sweetie-square-glass{ background-position: -189px -21px; width: 16px; height: 16px; } 
.sweetie-square-green{ background-position: -210px -21px; width: 16px; height: 16px; } 
.sweetie-square-grey{ background-position: -231px -21px; width: 16px; height: 16px; } 
.sweetie-square-metal{ background-position: -252px -21px; width: 16px; height: 16px; } 
.sweetie-square-paper{ background-position: -273px -21px; width: 16px; height: 16px; } 
.sweetie-square-red{ background-position: -294px -21px; width: 16px; height: 16px; } 
.sweetie-square-tan{ background-position: -315px -21px; width: 16px; height: 16px; } 
.sweetie-square-teal{ background-position: -336px -21px; width: 16px; height: 16px; } 
.sweetie-square-white{ background-position: -357px -21px; width: 16px; height: 16px; } 
.sweetie-square-wood{ background-position: -378px -21px; width: 16px; height: 16px; } 
.sweetie-square-yellow{ background-position: -399px -21px; width: 16px; height: 16px; } 
.sweetie-star{ background-position: -420px -21px; width: 16px; height: 16px; } 
.sweetie-star-inactive{ background-position: -441px -21px; width: 16px; height: 16px; } 
.sweetie-warning{ background-position: -462px -21px; width: 16px; height: 16px; } 
.sweetie-zoom-in{ background-position: -483px -21px; width: 16px; height: 16px; } 
.sweetie-zoom-out{ background-position: -504px -21px; width: 16px; height: 16px; } 
